<div class="card bg-secondary" style="width: 100%;">
  <div class="card-body ">
    <div class="row">
      <div class="col-6">
        <h5 class="card-title">Everton Cebolinha</h5>
        <h6 class="card-subtitle mb-2 text-dark">Atacante</h6>
      </div>
      <div class="col-6 text-center">
        <img src="/assets/img/jogador.png" class="rounded" width="120" height="80">
      </div>
    </div>
    <p class="card-text">Esse atacante é um cara que ataca e faz alguns gols. Vou colocar isso aqui só pra encher linguiça</p>
    <p class="card-link text-light">(37) 99999-99999</p>
  </div>
</div>